################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library/v15
/Library.Services/obj/Debug/Library.Services.csproj.CoreCompileInputs.cache
