################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library/v15
/Library.Services/obj/Debug/Library.Services.csproj.CoreCompileInputs.cache
/Library.CORE/bin/Debug
/Library.CORE/obj/Debug
/Library.Services/obj/Debug
/Library.ApplicationConsole/bin/Debug
/Library.Services/bin/Debug
/Library.ApplicationConsole/obj/Debug
/Library.Tests/bin/Debug
/Library.Tests/obj/Debug
/.vs/Library/DesignTimeBuild
/Library.BusinessObjects/obj/Debug
/Library.Repository/obj/Debug
